<div class="bg-white mb-2 ml-2">
    {% for solution in solutions %}
        <div class="container border-b-2 border-gray-300">
            <div class="p-2 text-xl text-blue-700">
                <!-- <div class="text-xl text-red-600 pb-1 border-b-2 border-red-600">
                    {{ solution.title() }}
                </div> -->
                <div class="pb-4 py-2">
                    {{ solution.modified_description or solution.description()|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>