<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <link rel="stylesheet" href="/static/css/prism.css">

    <style>
        .line-highlight {
            background: linear-gradient(to right, #f12e2e6b 70%, hsla(357, 93%, 57%, 0.65));
        }
    </style>
</head>
<body class="bg-gray-300">
    <!-- Exception Header -->
    <section class="flex justify-center">
        <div class="bg-gray-900 px-8 py-8 flex-1">
            <div class="text-red-600 font-bold">{{ exception.namespace() }}</div>
            <div class="text-white text-2xl">{{ exception.message() }}</div>
        </div>
        <!-- <div class="bg-gray-900 px-8 py-8 flex-1">
            <div class="text-red-600 font-bold">{{ exception.namespace() }}</div>
            <div class="text-white text-2xl">{{ exception.message() }}</div>
        </div> -->
    </section>

    <section class="flex justify-start">
        <div class="bg-white px-4 py-2 w-full bg-gray-400">
            Stack Trace ({{ exception.count() }})
        </div>
    </section>


    <section class="flex justify-start">
        <div class="w-1/2">
            {% for stack in exception.stacktrace() %}
                <div class="bg-white mb-2 px-4 py-4 w-full">
                    <div class="text-gray-600 text-sm">
                        #{{ loop.index }}
                        {{ stack.file }}:{{stack.lineno }}
                    </div>
                    <div><pre class="line-numbers" data-line="{{ stack.lineno }}" data-start="{{ stack.start_line }}"><code class="language-python">{% for lineno, content in stack.file_contents.items() %}
{{ content|safe }} {% endfor %}</code></pre>
                    </div>
                    {% for variable, value in stack.variables.items() %}
                    <div class="flex items-center border-b-2 border-gray-200 pb-2">

                        <div class="mr-8 w-1/6 text-right pl-2">
                            {{ variable }}
                        </div>
                        <div class="mr-8 w-1/2 border-l-2 pl-2 py-2">
                            {{ value }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="w-1/2">
            {% for context, values in exception.get_contexts().items() %}
                <div class="bg-white pl-4 mb-2 ml-2">
                    <h1 class="text-2xl border-b-2 border-red-600 p-2">
                        {{ context }}
                    </h1>

                    {% for key, value in values.items() %}
                        <div class="p-2">
                            {{ key }}: {{ value }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
       
    <!-- <section class="flex justify-start">
        {% for stack in exception.stacktrace() %}
            <div class="bg-white mb-2 px-4 py-4 w-1/2">
                <div class="text-gray-600 text-sm">
                    #{{ loop.index }}
                    {{ stack.file }}:{{stack.lineno }}
                </div>
                <div class="">
                </div><div ><pre class="line-numbers" data-line="{{ stack.lineno }}" data-start="{{ stack.start_line }}"><code class="language-python">{% for lineno, content in stack.file_contents.items() %}
{{ content|safe }} {% endfor %}</code></pre>
                </div>
            </div>
        {% endfor %}
    </section> -->


<script src="/static/js/prism.js"></script>
</body>
</html>